@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ui27vu');
  src:  url('fonts/icomoon.eot?ui27vu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ui27vu') format('truetype'),
    url('fonts/icomoon.woff?ui27vu') format('woff'),
    url('fonts/icomoon.svg?ui27vu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-inst:before {
  content: "\e900";
}
.icon-social-vk:before {
  content: "\e901";
}
.icon-social-fb:before {
  content: "\e902";
}
