@import 'components/_normalize';
@import 'components/_media';
@import './../fonts/raleway/stylesheet.css';
@import './../fonts/ptsans/stylesheet.css';
@import './../fonts/icomoon/style.css';
@import 'components/_burger-link';


$sizeLG: 1360px;
$sizeMD: 1000px;
$sizeXS: 560px;
$font1: 'Raleway', sans-serif;
$font2: 'PT Sans', sans-serif;
$font3: 'PT Sans Narrow', sans-serif;
$fontMain: $font2;

@import 'components/_plug-page';
@import 'components/_index-page';

body {
  font-family: $fontMain;
  webkit-font-smoothing: subpixel-antialiased;
  max-width: 1900px;
  margin: 0 auto;
}

p,a,b {
  font-family: $fontMain;
}

h1, h2, h3, h4, p {
	margin: 0;
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
	text-decoration: none;
}

.wrapper {
	overflow: hidden;

	&-1010 {
		max-width: 1154px;
		padding: 0 22px;
		margin: 0 auto;
	}
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #6d85cb;
  cursor: pointer;
  border-radius: 1px;
}