.header {
  background-color: #558ec6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__wr {
    max-width: 1154px;
    min-height: 72px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  &__menu {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 43px;
      }
    }

    a {
      color: #fff;
      font-family: $font3;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__social-icons {
    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }

    .icon {
      font-size: 22px;
    }

    a {
      color: #fff;
      font-family: $font3;
      font-size: 18px;
    }
  }

  &__m-menu {
    display: none;

    .burger-link {
      padding: 20px 0;
    }

    .menu {
      li {
        margin-bottom: 15px;

        a {
          font-family: $font3;
          font-weight: 300;
          color: #fff;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }

    .social {
      padding-top: 10px;

      li {
        display: inline-block;
        margin-right: 10px;
        
        .icon {
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }

  &__m-menu-content {
    display: none;
    padding: 20px 0;
  }

  &.menu-open {
    .header__m-menu-content {
      display: block;
    }

    .header__m-menu {
      .burger-link {
        position: absolute;
        right: 20px;
        top: 0;
      }
    }
  }

  @include max-screen($sizeMD) {
    .header {
      &__menu a {
        font-size: 13.6px;
      }

      &__menu li:not(:last-child) {
        margin-right: 30px;
      }

      &__wr {
        padding: 0 22px;
        min-height: 44px;
      }

      &__social-icons .icon {
        font-size: 20px;
      }

      &__social-icons li:not(:first-child) {
        margin-left: 18px;
      }
    }
  }

  @include max-screen($sizeXS) {
    &__menu, &__social-icons {
      display: none;
    }

    &__m-menu {
      display: block;
    }

    &__wr {
      min-height: auto;
      padding: 0 20px;
      display: block;
    }
  }
}

.section1 {
  padding-top: 72px;
  background: linear-gradient(to bottom, #7390c1, #cfeaff);
  height: 1100px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  // background: url(../img/section1-bg.png) no-repeat top center;
  // background-size: cover;

  &__wr {
    max-width: 1130px;
    height: 1180px;
    margin: 0 auto;
    position: relative;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__girl {
    position: absolute;
    width: 860px;
    bottom: 0;
    right: 0;
    transform: translateX(37%);
  }

  &__thumb {
    position: absolute;
    width: 821px;
    bottom: 23px;
    right: 0;
    transform: translateX(19%);
    z-index: 1;
  }

  &__girl2 {
    position: absolute;
    width: 670px;
    bottom: 89px;
    right: 0;
    transform: translateX(8%);
    z-index: 2;
  }

  &__shadow {
    left: 50%;
    position: absolute;
    display: block;
    top: 100px;
    transform: translateX(-60%);
  }

  &__logo {
    left: 10px;
    position: absolute;
    display: block;
    top: 50px;
    width: 347px;
  }

  &__white-pane {
    width: 3000px;
    height: 1500px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(26deg) translate(8%,55%);
    z-index: 1;
    background: #fff;
  }

  @include max-screen($sizeMD) {
    padding-top: 44px;
    height: 740px;

    &__shadow {
      width: 80%;
    }

    &__logo {
      width: 300px;
      left: 17px;
    }

    &__girl2 {
      width: 430px;
      transform: translateX(12%);
      bottom: 20px;
    }

    &__thumb {
      width: 400px;
      bottom: 22px;
      transform: translateX(7%);
    }

    &__wr {
      height: 740px;
    }
  }

  @include max-screen($sizeXS) {
    padding-bottom: 100%;
    padding-top: 0;
    margin-top: 59px;
    height: auto;
    background: url(../img/header-bg-m.jpg) no-repeat top;
    background-size: cover;
  
    &__bg, &__wr, &__logo,
    &__white-pane, &__shadow, &__girl2
    &__thumb, &__bg {
      display: none;
    }
  }
}

.section2 {
  position: relative;
  z-index: 1;
  height: 1220px;

  &__wr {
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    &2 {      
    }
  }

  &__content {
    max-width: 586px;
    position: absolute;
    top: -645px;
    left: -85px;
    background-color: #f8f0df;
    padding: 85px;
    box-sizing: border-box;
    z-index: 3;

    p {
      margin-bottom: 32px;
      font-size: 20px;
      color: #000;
      line-height:27px;
      text-align: justify;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: inline-block;
        padding: 0 4px;
        background-color: #f1947e;
      }
    }
  }

  &__paralax-layer {
    position: absolute;
    width: 130%;
    height: 1224px;
    background: #239;
    left: 50%;
    top: 0;
    transform: translate(-50%,6%) skew(0, -18deg);
    z-index: 2;
    overflow: hidden;

    .img-wr {
      overflow: hidden;
      position: absolute;
      width: 120%;
      height: 120%;
      transform: skew(0, 18deg) translate(-7%, -22%);
    }

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../img/paralax1.jpg) no-repeat center;
    }

    img {
      // transform: rotate(15deg) translate(-16%,-32%) scale(0.7);
    }
  }

  &__black-pane {
    position: absolute;
    background-color: #12141a;
    width: 151%;
    height: 1090px;
    left: 50%;
    z-index: 3;
    top: 0;
    transform: skew(0, -25deg) translateX(-50%);
  }

  &__content2 {
    max-width: 495px;
    position: absolute;
    left: 50%;
    bottom: -914px;
    z-index: 4;
    color: #fff;
    // transform: skew(0,25deg) translate(22%, -22%);

    h2 {
      font-size: 90px;
      font-family: $font3;
      font-weight: 400;
      opacity: 0.3;
      margin: 0 0 40px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include max-screen($sizeMD) {
    height: 864px;

    &__content {
      top: -327px;
      padding: 52px 32px;
      left: 0;
      width: 320px;

      p {
        font-size: 15px;
        line-height: 15px;
      }
    }

    &__content2 {
      width: 366px;
      bottom: -550px;
      left: auto;
      right: 22px;
      // transform: skew(0,25deg) translate(0%,-108%);

      h2 {
        font-size: 56px;
        margin: 0 0 19px;
      }

      p {
        font-size: 15px;
        line-height: 16px;
      }
    }
  }

  @include max-screen($sizeXS) {
    height: auto;
    // margin-top: -45px;

    &__wr2, &__paralax-layer {
      display: none;
    }

    &__black-pane {
      width: auto;
      height: auto;
      background: transparent;
      position: static;
    }

    &__content {
      position: static;
      padding: 38px 32px;
      width: auto;
    }

    &__content2 {
      position: static;
      background-color: #12141a;
      max-width: none;
      width: auto;
      padding: 38px 32px 100px;
      margin-bottom: 113px;
      transform: none;

      h2 {
        font-size: 49px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}

.section3 {
  position: relative;
  background-color: #fff;
  z-index: 3;
  // padding-bottom: 150px;

  &__top {
    position: absolute;
    width: 140%;
    height: 400px;
    background-color: #fff;
    margin-left: -20%;
    left: 0;
    transform: rotate(9deg);
    top: -152px;
  }

  &__bottom {
    position: absolute;
    width: 140%;
    height: 400px;
    background-color: #fff;
    margin-left: -20%;
    left: 0;
    transform: rotate(9deg);
    bottom: -600px;
  }

  .news {
    position: relative;
    z-index: 1;
    top: -30px;
  }

  .news-item {
    display: flex;
    justify-content: space-between;

    &__info {
      margin-left: 65px;
      position: relative;
      top: 95px;
      cursor: default;

      h2 {
        font-size: 80px;
        line-height: 72px;
        color: #c9d6df;
        margin-bottom: 27px;
        font-family: $font3;
        font-weight: 400;
      }

      p {
        font-size: 20px;
        line-height: 24px;
        color: #000;
      }
    }
  }

  @include max-screen($sizeMD) {
    .news-item__info {
      width: 50%;
      top: 50px;
      margin-left: 40px;

      h2 {
        font-size: 49px;
        line-height: 50px;
      }

      p {
        font-size: 15px;
        line-height: 15px;
      }
    }

    .news-item__img {
      width: 50%;
      
      img {
        max-width: 100%;
      }
    }

    .news li:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  @include max-screen($sizeXS) {
    margin-top: -44px;
    padding-bottom: 30px;

    .news {
      padding: 0 25px;
    }

    &__top {
      top: -100px;
    }

    li:last-child .news-item {
      margin-bottom: 0;
    }

    .news {
      padding: 0 6px;
    }

    .news-item {
      flex-direction: column;
      margin-bottom: 50px;

      &__img {
        width: auto;

        img {
          max-width: 100%;
        }
      }

      &__info {
        width: auto;
        top: 0;
        margin-left: 0;

        h2 {
          font-size: 43px;
          line-height: 39px;
        }

        p {
          font-size: 14px;
          line-height: 13px;
        }
      }
    }
  }
}

.section4 {
  position: relative;
  z-index: 4;
  height: 446px;
  margin-top: 200px;
  margin-bottom: 300px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 18px;
    left: 0;
    background-color: #12141a;
    transform: skew(0,4deg);
  }

  &__top {
    position: absolute;
    width: 140%;
    height: 400px;
    background-color: #12141a;
    margin-left: -20%;
    left: 0;
    transform: rotate(9.5deg);
    top: -82px;
  }

  &__bottom {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #12141a;
    left: 0;
    transform: skew(0,-6deg);
    bottom: -152px;
  }

  &__wr {
    max-width: 852px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  &__title {
    color: #303c44;
    font-size: 80px;
    font-weight: 400;
    font-family: $font3;
    margin: 0 0 72px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    box-sizing: border-box;
    width: 400px;
    color: #fff;
    text-align: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 35px;
      position: absolute;
      top: -20px;
      left: 0;
      background: #a69e8c;
      transform: skew(0deg, -4deg);
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 35px;
      position: absolute;
      bottom: -20px;
      left: 0;
      background: #a69e8c;
      transform: skew(0deg, 4deg);
    }

    ul {
      position: relative;
      z-index: 1;

      li {
        padding: 20px 10px;
        margin: 0 8px;

        h2 {
          padding: 0 15px;
          font-size: 40px;
          line-height: 34px;
          font-weight: 400;
        }
      }
    }
    
    &_1 {
      background-color: #a69e8c;

      &::before {
        top: -15px
      }
      &::after {
        bottom: -15px;
      }

      ul li:nth-child(even) {
        background-color: #bab19e;
      }
    }

    &_2 {
      background-color: #f8f0df;
      color: #2f3940;

      &::before,
      &::after {
        background-color: #f8f0df;
      }

      ul li:nth-child(even) {
        background-color: #e8dec7;
      }
    }

  }

  @include max-screen($sizeMD) {
    height: 390px;
    margin-bottom: 210px;

    &__item {
      width: 245px;
    }

    &__wr {
      max-width: 530px;
    }

    &__title {
      font-size: 49px;
    }

    &__item_2 {
      img {
        width: 82px;
        transform: scale(1.5);
      }
    }

    ul li {
      font-size: 15px;
    }

    ul li h2 {
      font-size: 25px;
      line-height: 25px;
    }
  }

  @include max-screen($sizeXS) {
    margin-top: 100px;
    margin-bottom: 80px;
    height: auto;

    &__item_2 {
      width: 50%;
      top: 0;
      margin-left: 5px;
    }

    &__item_1 {
      width: 50%;
      margin-right: 5px;
    }

    &__top {
      height: 200px;
      top: -60px;
    }

    &__bottom {
      bottom: -28px;
    }

    &__title {
      font-size: 43px;
      padding-left: 22px;
    }

    ul li {
      font-size: 12px;
    }

    ul li h2 {
      font-size: 21px;
      line-height: 21px;
    }

    &__item_2 img {
      width: 65px;
      transform: scale(1.8) translateY(-5px);
    }

    &__bottom {
      display: none;
    }
  }
}

.section5 {
  position: relative;
  overflow: hidden;

  &__head {
    margin: 85px 0 0;

    h2 {
      font-size: 80px;
      font-family: $font3;
      font-weight: 400;
      color: #dfcdc4;
      margin: 0 0 45px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      color: #322118;
    }
  }

  &__map {
    margin: 86px 0 90px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;

    #map {
      height: 590px;
    }

    &-list {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
      height: 100%;
      width: 418px;
      z-index: 2;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.7;
        top: 0;
        left: 0;
        z-index: 0;
      }

      ul {
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 1;
        padding: 35px 33px;

        li {
          margin-bottom: 28px;
          position: relative;
          cursor: pointer;

          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 29px;
            height: 40px;
            background: url(../img/marker1.png) no-repeat 0 0;
            background-size: cover;
            right: 3px;
            top: 50%;
            margin-top: -20px;
          }

          h3 {
            font-family: $font3;
            font-size: 32px;
            font-weight: 400;
            color: #558ec6;
            margin: 0 0 5px;
          }

          p {
            font-size: 18px;
            color: #020202;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d5dce5;
    cursor: pointer;
    border-radius: 8px;
  }

  @include max-screen($sizeMD) {
    &__head {
      h2 {
        font-size: 42px;
        margin: 0 0 28px;
      }

      p {
        font-size: 15px;
        line-height: 15px;
      }
    }

    &__map {
      margin: 50px 0 55px;

      #map {
        height: 395px;
      }

      &-list {
        width: 264px;
      }

      ul {
        padding: 21px;
      }

      ul li {
        margin-bottom: 16px;

        &::after {
          width: 21px;
          height: 26px;
          margin-top: -10px;
        }

        h3 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @include max-screen($sizeXS) {
    &__head {
      margin: 0;
      padding: 0 22px;
    }

    .wrapper-1010 {
      padding: 0;
    }

    &__map {
      margin: 30px 0 0;
      border-top: none;
      border-bottom: none;

      &-list {
        position: relative;
        width: auto;
        height: 210px;
        margin: 30px 0;
        top: 0;
        left: 0;

        ul {
          padding: 0 20px;
        }
      }

      #map {
        height: 262px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }
}

.section6 {
  background-size: cover;
  padding: 116px 0 160px;
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    // background: url(../img/paralax2.jpg) no-repeat center;
    // background-size: cover;
    z-index: 0;

    img {
      width: 120%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
    z-index: 1;

    h2 {
      font-size: 80px;
      font-family: $font3;
      color: #acc9d6;
      font-weight: 400;
      margin: 0 0 100px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
      color: #fff;
    }

    .mail {
      margin: 40px 0 17px;
    }

    .mail,
    .phone {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 30px;
    }
  }

  @include max-screen($sizeMD) {
    padding: 69px 0;

    &__content {
      padding-bottom: 50px;

      h2 {
        font-size: 49px;
        margin: 0 0 46px;
      }

      p {
        font-size: 15px;
        line-height: 15px;
      }
    }

    .mail {
      margin: 30px 0 10px;
    }

    .mail, .phone {
      font-size: 19px;
    }

    &__bg {
      width: 130%;
      height: 130%;
    }
  }

  @include max-screen($sizeXS) {
    padding: 21px 0 30px;
    background: url(../img/paralax2.jpg) no-repeat center;
    background-size: cover;

    &__content {
      padding-bottom: 35px;

      h2 {
        font-size: 43px;
        margin: 0 0 12px;
      }

      p {
        font-size: 13px;
      }
    }

    &__bg {
      display: none;
    }

    .mail {
      margin: 12px 0 5px;
    }

    .mail, .phone {
      font-size: 13px;
    }
  }
}

.footer {
  background-color: #558ec6;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    top: -50px;
    position: absolute;
    transform: skew(0,-3deg);
    background-color: #558ec6;
  }

  .wrapper-1010 {
    position: relative;
    z-index: 1;
  }

  &__menu {
    color: #fff;
    padding: 20px 0 0;

    li {
      display: inline-block;
      margin: 0 15px;
      color: #fff;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  &__links {
    position: absolute;
    top: -24px;
    right: 15px;
    text-align: right; 

    .phone {
      font-size: 24px;
      color: #fff;
      padding-bottom: 18px;
      display: block;
    }
  }

  &__social-icons {
    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 28px;
      }

      .icon {
        font-size: 22px;
        color: #fff;
      }
    }
  }

  &__copyright {
    padding: 80px 0 30px;
    color: #fff;
    font-size: 14px;
  }

  @include max-screen($sizeMD) {

    &::before {
      top: -42px;
    }

    &__links {
      top: -14px;

      .phone {
        font-size: 15px;
        padding-bottom: 14px;
      }
    }

    &__social-icons {
      li .icon {
        font-size: 16px;
      }

      li:not(:first-child) {
        margin-left: 15px;
      }  
    }

    &__menu {
      padding: 0;
    }

    &__menu li a {
      font-size: 11px;
    }

    &__copyright {
      padding: 40px 0 20px;
      font-size: 12px;
    }    
  }

  @include max-screen($sizeXS) {

    .wrapper-1010 {
      padding: 0 30px;
    }

    &__menu {
      display: none;
    }

    &__links {
      position: static;
      text-align: left;

      .phone {
        padding-bottom: 17px;
      }
    }

    &__copyright {
      padding: 13px 0 17px;
    }

    &::before {
      top: -33px;
    }
  }
}