.logo {
  margin: 0 auto;

  * {
    font-family: $font1;
  }

  &-bg {
    background: url(../img/main-bg.jpg) center 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  &-baner {
    max-width: 555px;
    margin: 100px auto;
    display: block;
  }

  @include max-screen($sizeLG) {
    &-baner {
      max-width: 400px;
      margin: 62px auto 60px;
    }
  }

  @include max-screen($sizeXS) {
    &-baner {
      max-width: 260px;
      margin: 30px auto;
    }
  }
}

.logo-desc {
  max-width: 895px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 18px;
  color: #f0e4d5;
  text-align: center;
  letter-spacing: 0.36px;

  p {
    font-weight: 400;
  }

  b {
    color: #f0e4d5;
    font-weight: 900;
  }

  @include max-screen($sizeXS) {
    font-size: 14px;
  }
}

.links {
  max-width: 930px;
  padding: 0 15px;
  margin: 137px auto 132px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .link {
    display: flex;
    align-items: center;
  }

  li {
    margin-bottom: 10px;

    a {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
    }

    .icon {
      width: 48px;
      height: 48px;
      background-color: #a74d38;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      img {
        width: 26px;
      }
    }
  }

  @include max-screen($sizeLG) {
    margin: 80px auto;
  }

  @include max-screen($sizeXS) {
    margin: 30px auto;

    li a {
      font-size: 14px;
    }
  }
}

.link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;

  &__white {
    border-bottom-color: #fff;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}